@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
   --mainColor: #297AE3;
   --primaryColor: #15171C;
   --secondaryColor: #232933; 
   --lightSecondaryColor: #2E3744;
   --textColor: white;
   --sceondaryTextColor: #B3B4B6;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    min-height: 100vh;
    background-color: var(--primaryColor);
    font-size: 20px;
    color: var(--textColor);
}

nav {
    position: fixed;
    top: 0;
    left: 50%;
    width: 100vw;
    margin-left: -50vw;
    display: flex;
    padding: 1% 0; 
    align-items: center;  
    transition: 0.5s;
}

nav ul {  
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
    margin-left: 100px;
}

nav ul li {
    list-style: none;
}

nav ul li a {
    text-decoration: none;
    color: var(--sceondaryTextColor);
}

nav ul li a:hover {
    color: var(--textColor);
}

nav.sticky {
    background-color: var(--mainColor);
}

nav.sticky ul li a {
    color: #15171C;
}

nav.sticky ul li a:hover {
    color: var(--lightSecondaryColor);
}

header {
    padding: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    flex-wrap: wrap;
}

.headerText {
    width: 850px;
}

.portrait {
    height: 500px;
    width: 500px;
    max-width: 25vw;
    max-height: 25vw;
    overflow: hidden;
    border-radius: 50%;
    border: solid 10px var(--mainColor);
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 100px;
    min-height: 100px
}

.portrait img {
    height: 100%;
}

h1 {
    font-size: 100px;
}

.subheader {
    margin-top: 25px;
    color: var(--sceondaryTextColor);
}

#display {
    padding: 100px 0;
    background-color: var(--secondaryColor);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#display h2 {
    margin-bottom: 50px;
}

.displayContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    flex-wrap: wrap;
}

.displayContent {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 70vw;
    max-height: 70vw;    
}

.displayContent img {
    width: 100%;
    max-width: 250px;
    max-height: 250px;
}

.displayContent p {
    margin: 10px;
}







@media (max-width: 800px) {
    nav {
        justify-content: center;
    }

    nav ul {
        margin-left: 0;
    }

    nav a {
        font-size: calc(18px +1.5vw);
    }

    header {
        padding: 50px 25px;
        text-align: center;
    }

    h1 {
        font-size: 12vw;
    }

    #display {
        padding-top: 50px;
    }

    .displayContainer {
        gap: 25px;

    }

    .portrait {
        border: solid 8px var(--mainColor);
    }
}

@media (max-width: 550px) {
    nav a {
        font-size: calc(12px + 0.9vw);
    }

    .displayContent p {
        font-size: 8px;
    }
}

@media (max-width: 1020px) {
    .displayContent p {
        margin: 5px;
    }
}
